@{
    ViewData["Title"] = "RISE GAMING";
}


<div class="text-center">
    <div classname="all-browsers">
        <div class="browser">
          <h2 class="title">PC GAMER</h2>
          <div class="PCform">
            <a href=""> <img class="formato"src="https://www.cdiscount.com/pdt2/3/2/6/1/700x700/vib5057551887326/rw/vibox-viii-47-pc-gamer-sg-intel-i9-11900f-rtx.jpg" alt="" ></a>
            <a href=""> <img class="formato"src="http://s3.amazonaws.com/imagenes-sellers-mercado-ripley/2021/11/17093041/VGH530755_1.png" alt="" ></a>
            <a href=""> <img class="formato"src="https://m.media-amazon.com/images/I/81X6i2gmc3L._AC_SX425_.jpg" alt="" ></a>
          </div>
        </div>
        <div class="browser">
          <h2 class="title">MONITORS</h2>
          <div class="monitorform">
            <a href=""> <img class="formato"src="https://http2.mlstatic.com/D_NQ_NP_821797-MLA48811790461_012022-O.jpg" alt="" ></a>
            <a href=""> <img class="formato"src="https://ripleycl.imgix.net/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fim-prod-products-images%2F61lcwuay2al_ac_sl1500_-12d55f10-066d-4d92-b9e3-1d8e04934a3a.jpg?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=70d78134d8630859bfc5a12a9b8124b3" alt="" ></a>
            <a href=""> <img class="formato"src="https://cf.shopee.co.id/file/1fa7c96649d73d5317b93c2a53812e3d" alt="" ></a>
          </div>
        </div>
        <div class="browser">
          <h2 class="title">GAMING CHAIRS</h2>
          <div class="sillasform">
            <a href=""><img class=formato src="http://cdn.shopify.com/s/files/1/2044/9817/products/SGAZ_0_1200x1200.jpg?v=1610739059" ></a>
            <a href=""><img class=formato src="https://www.officedepot.com.gt/medias/39015.jpg-1200ftw?context=bWFzdGVyfHJvb3R8MzI0MDk0fGltYWdlL2pwZWd8aGI3L2g0ZC8xMDUwNzgzNDAzMjE1OC8zOTAxNS5qcGdfMTIwMGZ0d3wxY2YwZjNlODJkYjA2NzI5YjlhNWNjNjYwZmM3MTNkZjQ5MzdkZGI1ZjRhNTgwYzAzMTE2MjJjZmQ1M2Q0M2Fh" ></a>
            <a href=""><img class=formato src="https://static2.elcontainer.cl/18368-big_default/silla-gamer-advwin-verde.jpg" ></a>
          </div>
        </div>
      </div>
</div>
